@media  (max-width:1200px)
  .container
    max-width: 960px
    width: 91%
  .hotel
    &__slider
      margin-right: 20px
    &-slider
      &__img
        height: 100%
  .activities
    &-card
      width: 220px
      height: 220px
  .packages
    padding: 30px 0 60px
    &__title
      margin-bottom: 50px
  .footer
    &-wrapper
      column-gap: 10px
      grid-template-columns: minmax(120px,190px) repeat(3,minmax(200px, 1fr))
    &__input
      width: 100%
@media (max-width:992px)
  .container
    max-width: 768px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 7%
      width: 340px
    &__logo
      width: 133px
    &-menu
      padding: 22px 0
      font-size: 12px
      line-height: 15px
      &__list
        padding: 0 12px
  .hotel
    padding-top: 16px
    padding-bottom: 60px
    &__slider
      margin-right: 0
      margin-bottom: 30px
      width: 100%
      &__slide
        width: 100%
    &-slider
      &__button
        width: 20px
        height: 20px
        &__prev
          margin-left: 15px
        &__next
          margin-right: 15px
    &-grid
      flex-wrap: wrap
    &-right
      flex-direction: row
      justify-content: space-between
      width: 100%
  .map
    width: 49%
    height: 210px
  .booking
    &-block
      width: 49%
      height: 210px
  .newsletter
    padding: 92px 0 93px 0
    &-wrapper
      max-width: 768px
      width: 91%
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 650px
        width: 80%
        &::before, &::after
          display: none
      &__text
        max-width: 475px
    &__button
      top: 52%
      &--prev
        left: 0
      &--next
        right: 0
    &-slider
      &__text
        height: 133px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
      row-gap: 20px
    &-card
      width: 48%
      height: 255px
  .packages
    &-wrapper
      grid-template: repeat(3,500px)/ repeat(2, 1fr)
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(6,1fr)
      grid-row-gap: 48px
      padding-bottom: 56px
    &__logo
      max-width: 98px
      grid-row: 1 / 2
      grid-column: span 2
      margin-top: 0
    &__social-network
      grid-row: 1 / 2
      grid-column: span 5
      align-self: center
      margin-left: -47px
      margin-top: 10px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-row: 2 / 3
      grid-column: span 2
      margin-left: -30px
    &__legal
      grid-row: 2 / 3
      grid-column: span 2
      margin-right: 0
    &__contact
      &-details
        grid-row: 3 / 4
        grid-column: span 6
      &-form
        grid-row: 4 / 5
        grid-column: span 6
    &__input
      width: 47%
    &__title
      &--contact
        margin-top: 13px
      &--form
        margin-top: 10px
  .rights
    &-wrapper
      max-width: 768px
      width: 100%
@media (max-width:760px)
  body
    padding-top: 72px
  .container
    max-width: 576px
    width: 87%
  .navbar
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__logo
      width: 99px
    &-top
      padding: 28px 0
      &__menu-button
        display: flex
        flex-direction: column
        border: none
        width: 16px
        height: 11px
        justify-content: space-between
        background-color: #fff
        cursor: pointer
        padding: 0
    &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: block
          margin: 0 auto 21px
          width: 72%
    &-user
      &--mobile
        &--hidden
          display: none
    &-menu
      display: none
      &--visible
        display: block
        position: fixed
        top: 72px
        left: 0
        right: 0
        bottom: 0
        padding-top: 31px
        overflow: auto
      &__list
        &--mobile
          flex-direction: column
          align-items: center
      &__item
        &--mobile
          margin-bottom: 20px
          &--visible
            display: block
            width: 340px
  .user
    margin-bottom: 10px
    &__avatar
      margin-bottom: 10px
    &__name
      margin: 0
      color: #fff
      text-transform: none
    &--mobile
      &--visible
        display: flex
        flex-direction: column
        justify-content: center

  .menu
    &-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-rattings
      display: none
    &-text
      width: 100%
      &__block
        justify-content: space-between
        align-items: flex-start
      &__offer
        order: -1
        margin-left: 0
        margin-bottom: 10px
      &__stars
        flex-basis: auto
        margin-right: 20px
        margin-bottom: 0
      &__name
        flex-basis: 100%
    &__slider
      height: 350px
      margin-top: 18px
      margin-bottom: 20px
      &__slide
        width: 100%
    &-grid
      flex-wrap: wrap
    &-right
      flex-direction: column
      width: 100%
      align-items: center
  .booking-block
    width: 100%
    margin-bottom: 20px
    padding-left: 22px
    padding-right: 22px
  .map
    width: 100%
    height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 87%
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 37px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 25px
      line-height: 30px
      margin-bottom: 42px
    &-slider
      &__item
        max-width: 650px
        width: 100%
        margin-left: 0
        margin-right: 0
      &__text
        max-width: 380px
        width: 84%
        text-align: left
        margin-bottom: 38px
    &__button
      top: 30px
      &--prev
        left: 50%
        transform: translate(-50%, 0)
        margin-left: -85px
      &--next
        right: 50%
        transform: translate(50%, 0)
        margin-right: -85px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .packages
    &__title
      font-size: 25px
      line-height: 30px
    &-wrapper
      grid-template: repeat(4,500px)/ 1fr
      gap: 15px 0
    &-card
      &--big
        grid-column: 1
      &__img
        &--big
          max-width: 250px
  .card
    &-info
      &--big
        padding: 20px 21px 20px 25px
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      padding-bottom: 26px
    &__logo
      max-width: 98px
      grid-row: 1
      grid-column: 1
      margin-top: 0
      margin-bottom: 7px
    &__social-network
      grid-row: 2
      grid-column: 1
      align-self: center
      margin-left: 0
      margin-top: 0
      flex-direction: column
      align-items: flex-start
    &__categories
      grid-row: 5
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
      margin-left: 0
    &__legal
      grid-row: 3
      grid-column: 1
      margin-right: 0
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-top: 10px
        margin-bottom: 26px
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      width: 100%
    &__title
      margin-bottom: 14px
      &--inline
        margin: 0 0 23px
      &--contact
        margin-top: 0
        margin-bottom: 25px
      &--form
        margin-top: 0
        margin-bottom: 15px
      &:nth-child(1)
        margin-bottom: 18px
    &__form
      flex-direction: column
    &__message
      margin-bottom: 15px
    &__info
      margin-bottom: 15px
      margin-top: 0
    &__button
      order: 1
    &__text
      margin-top: 25px
  .contact-details
    &__item
      column-gap: 6px
  .thankyou
    padding: 20px
    &__text
      font-size: 22px
    &__img
      display: none
    &__button
      margin-top: 30px

@media (max-width:567px)
  .hotel
    &__slider
      height: 250px
    &-slider
      &__button
        width: 12px
        height: 12px
        &__prev
          margin-left: 6px
        &__next
          margin-right: 6px
  .map
    height: 200px
  .newsletter
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px

      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
  .subscribe
    max-width: 480px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__text
        height: 266px
  .activities
    &-card
      width: 100%
    &-card:nth-child(1)
      order: -2
    &-card:nth-child(3)
      order: -1
      margin-bottom: 5px
  .packages
    &-wrapper
      grid-template-rows: repeat(3, 500px)
    &-card
      &:nth-child(2n)
        display: none
      &--big
        flex-direction: column
      &__img
        &--big
          max-width: 100%
          height: 250px
      &__offer
        &--big
          font-size: 8px
          line-height: 10px
          padding: 4px 9px
  .card
    &-info
      &--big
        max-width: 100%
        padding: 30px 21px 30px 32px
      &__stars, &__description
        display: none
      &__title
        &--big
          margin-bottom: 23px
      &__pricetag
        &--big
          margin-top: 24px
      &__button
        &--big
          bottom: 25px
  .rights
    &-wrapper
      flex-wrap: wrap
    &__ul
      margin-bottom: 10px
      flex-basis: 100%
      display: flex
      justify-content: space-between
  .modal
    &__dialog
      width: 90%
      padding: 25px 50px
    &__form
    &__title
      font-size: 14px
    &__input
      width: 100%
      padding: 10px 16px
    &__message
      height: 90px
    &__bottom
      flex-wrap: wrap
    &__button
      width: 100%
    &__info
      order: -1
      margin-bottom: 15px
@media (max-width:370px)
  .hotel
    &__slider
      height: 180px
  .map
    height: 172px
  .rights
    &__item
      &:not(:last-child)
        margin-right: 10px
  .modal
    &__dialog
      width: 100%
@media (max-height:450px)
  .modal
    &__dialog
      max-height: 100vh
      overflow: auto
