@media  (max-width:1200px)
  .container
    max-width: 960px
    width: 91%
  .hotel
    &__slider
      margin-right: 20px
    &-slider
      &__img
        height: 100%
  .activities
    &-card
      width: 220px
      height: 220px
  .packages
    padding: 30px 0 60px
    &__title
      margin-bottom: 50px

@media (max-width:992px)
  .container
    max-width: 768px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 7%
      width: 340px
    &__logo
      width: 133px
    &-menu
      padding: 22px 0
      font-size: 12px
      line-height: 15px
      &__list
        padding: 0 12px
  .hotel
    padding-top: 16px
    padding-bottom: 60px
    &__slider
      margin-right: 0
      margin-bottom: 30px
      width: 100%
      &__slide
        width: 100%
    &-slider
      &__button
        width: 20px
        height: 20px
        &__prev
          margin-left: 15px
        &__next
          margin-right: 15px
    &-grid
      flex-wrap: wrap
    &-right
      flex-direction: row
      justify-content: space-between
      width: 100%
  .map
    width: 49%
    height: 210px
  .booking
    &-block
      width: 49%
      height: 210px
  .newsletter
    padding: 92px 0 93px 0
    &-wrapper
      max-width: 768px
      width: 91%
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 650px
        width: 80%
        &::before, &::after
          display: none
      &__text
        max-width: 475px
    &__button
      top: 52%
      &--prev
        left: 0
      &--next
        right: 0
    &-slider
      &__text
        height: 133px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
      row-gap: 20px
    &-card
      width: 48%
      height: 255px
  .packages
    &-wrapper
      grid-template: repeat(3,500px)/ repeat(2, 1fr)
@media (max-width:760px)
  .container
    max-width: 576px
    width: 87%
  .navbar
    &__logo
      width: 99px
    &-top
      padding: 28px 0
      &__menu-button
        display: flex
        flex-direction: column
        border: none
        width: 16px
        height: 11px
        justify-content: space-between
        background-color: #fff
        cursor: pointer
        padding: 0
    &__search
      display: none
    &-menu
      display: none
    &-user
      display: none
  .menu
    &-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-rattings
      display: none
    &-text
      width: 100%
      &__block
        justify-content: space-between
        align-items: flex-start
      &__offer
        order: -1
        margin-left: 0
        margin-bottom: 10px
      &__stars
        flex-basis: auto
        margin-right: 20px
        margin-bottom: 0
      &__name
        flex-basis: 100%
    &__slider
      height: 350px
      margin-top: 18px
      margin-bottom: 20px
      &__slide
        width: 100%
    &-grid
      flex-wrap: wrap
    &-right
      flex-direction: column
      width: 100%
      align-items: center
  .booking-block
    width: 100%
    margin-bottom: 20px
    padding-left: 22px
    padding-right: 22px
  .map
    width: 100%
    height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 87%
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 37px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 25px
      line-height: 30px
      margin-bottom: 42px
    &-slider
      &__item
        max-width: 650px
        width: 100%
        margin-left: 0
        margin-right: 0
      &__text
        max-width: 380px
        width: 84%
        text-align: left
        margin-bottom: 38px
    &__button
      top: 30px
      &--prev
        left: 50%
        transform: translate(-50%, 0)
        margin-left: -85px
      &--next
        right: 50%
        transform: translate(50%, 0)
        margin-right: -85px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .packages
    &__title
      font-size: 25px
      line-height: 30px
    &-wrapper
      grid-template: repeat(4,500px)/ 1fr
      gap: 15px 0
    &-card
      &--big
        grid-column: 1
      &__img
        &--big
          max-width: 250px
  .card
    &-info
      &--big
        padding: 20px 21px 20px 25px

@media (max-width:567px)
  .hotel
    &__slider
      height: 250px
    &-slider
      &__button
        width: 12px
        height: 12px
        &__prev
          margin-left: 6px
        &__next
          margin-right: 6px
  .map
    height: 200px
  .newsletter
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px

      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
  .subscribe
    max-width: 480px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__text
        height: 266px
  .activities
    &-card
      width: 100%
      &__title
        max-width: 500px
    &-card:nth-child(1)
      order: -2
    &-card:nth-child(3)
      order: -1
  .packages
    &-wrapper
      grid-template-rows: repeat(3, 500px)
    &-card
      &:nth-child(2n)
        display: none
      &--big
        flex-direction: column
      &__img
        &--big
          max-width: 100%
          height: 250px
      &__offer
        &--big
          font-size: 8px
          line-height: 10px
          padding: 4px 9px
  .card
    &-info
      &--big
        max-width: 100%
        padding: 30px 21px 30px 32px
      &__stars, &__description
        display: none
      &__title
        &--big
          margin-bottom: 23px
      &__pricetag
        &--big
          margin-top: 24px
      &__button
        &--big
          bottom: 25px
@media (max-width:370px)
  .hotel
    &__slider
      height: 180px
  .map
    height: 172px
