.hotel
  padding-top: 17px
  padding-bottom: 70px
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 20px
    &__description
      margin: 0
      font-size: 12px
      line-height: 15px
  &-text
    &__block
      display: flex
      flex-wrap: wrap
      align-items: center
    &__stars
      margin-bottom: 4px
      flex-basis: 100%
    &__name
      margin: 0
      text-transform: uppercase
      font-size: 24px
      line-height: 30px
    &__offer
      margin-left: 14px
  &-slider
    width: 728px
    height: 450px
    border-radius: 8px
    position: relative
    margin: 0
    &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      z-index: 2
      top: 0
      left: 0
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    &__button
      width: 30px
      height: 30px
      border: none
      position: absolute
      top: 50%
      z-index: 3
      transform: translateY(-50%)
      background-position: center
      background-repeat: no-repeat
      background-color: transparent
      cursor: pointer
      &__prev
        margin-left: 18px
        left: 0
        background-image: url(../img/button-prev.svg)
      &__next
        margin-right: 18px
        right: 0
        background-image: url(../img/button-next.svg)
  &__img
    object-fit: cover
.offer
  background-color: $primary
  color: #fff
  padding: 4px 9px
  border-radius: 3px
  font-size: 10px
  line-height: 13px
.rattings
  display: flex
  flex-direction: column
  align-items: center
  color: #fff
  background-color: $primary
  padding: 8px 6px
  border-radius: 4px
  &__text
    font-size: 8px
    font-weight: 600
    line-height: 10px
  &__count
    font-size: 14px
    line-height: 18px
    font-weight: 700
  &__five
    font-size: 10px
